#loadingSpinner {
    width: 32px;
    height: 32px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -16px;
    margin-top: -16px;
}

#parent-messages {
    height: 50px;
    width: 100%;
    overflow-y: auto;
}

#widgets {

}

.widget {
    border-style: solid;
    border-width: 1px;
    margin: 5px;
    padding: 10px;
    display: inline-block;
    height: 200px;
    width: 250px;
}

.widget input {
    width: 150px;
    margin-bottom: 5px;
}

.widget .messages {
    position: absolute;
    height: 130px;
    width: 230px;
    overflow-y: auto;
}