#loadingSpinner {
    width: 32px;
    height: 32px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -16px;
    margin-top: -16px;
}

#parent-messages {
    height: 50px;
    width: 100%;
    overflow-y: auto;
}

#widgets {

}

.widget {
    position:relative;
    border-style: solid;
    border-width: 1px;
    margin: 5px;
    padding: 10px;
    display: inline-block;
    height: 200px;
    width: 260px;
}

.widget .widget-header {
    padding-bottom: 15px;
}

.widget .close-button {
    position:absolute;
    top: 5px;
    right: 5px;
}

.widget input {
    width: 180px;
    margin-bottom: 5px;
}

.widget .messages {
    position: absolute;
    margin-top: 10px;
    height: 110px;
    width: 250px;
    overflow-y: auto;
}